/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #fff;
}

::selection {
    color: #fff;
    background: #007bff;
}

.start_btn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start_btn .logos .apcd,
.start_btn .logos .abcd {
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    width: 250px;
}

.start_btn button {
    font-size: 5rem;
    font-weight: 500;
    color: #fff;
    background-color: #007bff;
    padding: 1.5rem 3rem;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.info_box,
.register_box,
.quiz_box,
.result_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.info_box.activeInfo,
.register_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult {
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.radio {
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    padding: 0.75rem 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 16px;
}

.radio label {
    color: #666;
}

#profissional,
#academico {
    -ms-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    transform: scale(2.5)
}

.inputBox label {
    padding: 0 2rem;
}

.inputBox.lgpd {
    display: flex;
    /* height: 15rem; */
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
}

.buttons .terms {
    display: inline-flex;
    /* width: 55%; */
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.lgpd {
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 16px;
    color: #666;
}

input#lgpd {
    transform: scale(2);
    padding-left: 1rem;
}

input#terms {
    transform: scale(2.5);
    padding-left: 2rem;
}

.terms p {
    padding: 0 1rem;
}

.lgpd div.text {
    text-align: justify;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    overflow: scroll;
    height: 12rem;
    background-color: #f1f1f1;
    border: 1px solid #333;
    margin-bottom: 1rem;
}

.lgpd .terms {
    display: inline-flex;
    padding: 0.5rem 1.5rem;
    /* margin: 0 auto; */
    /* width: 80%; */
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

button#submitButtonId {
    display: flex;
    justify-content: center;
}

.submitForm .icon.tick {
    padding: 0 0 0 0.5rem;
}

.info_box {
    width: 35vw;
    /* height: 100vh; */
    padding: 5rem 0;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.register_box {
    width: 60vw;
    /* height: 95vh; */
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.info-title .logos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.info_box .info-title {
    /* height: 60px; */
    /* width: 100%; */
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 15px 30px 0;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

.info-title span {
    width: -webkit-fill-available;
    font-size: 24px;
}

.info_box .info-list {
    padding: 15px 30px;
}

.info_box .info-list .info {
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info-list .info span {
    font-weight: 600;
    color: #007bff;
}

.info_box .buttons {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}

.info_box .buttons button {
    margin: 0 5px;
    height: 4rem;
    width: 8rem;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.register_box .info-title {
    /* height: 60px; */
    width: 100%;
    /* border-bottom: 1px solid lightgrey; */
    display: flex;
    align-items: flex-end;
    /* padding: 15px 30px; */
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

/* .register_box .info-list {
    padding: 15px 30px;
} */

.register_box .info-list .info {
    margin: 5px 0;
    font-size: 17px;
}

.register_box .info-list .info span {
    font-weight: 600;
    color: #007bff;
}

.register_box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}

.register_box .buttons button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.quiz_box {
    width: 1152px;
    /* height: 95vh; */
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.quiz_box header {
    position: relative;
    z-index: 2;
    /* height: 70px; */
    padding: 10px 0;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1); */
}

.quiz_box header .title {
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer {
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 145px;
}

.quiz_box header .timer .time_left_txt {
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .timer_sec {
    font-size: 24px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}

header .logos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

header .title {
    font-size: 24px;
    font-weight: 600;
    height: max-content;
    /* padding: 15px 0; */
}

.timer_sec_final {
    font-size: 24px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    color: red;
    background: #ffb3b3;
    border: 1px solid red;
    user-select: none;
}



.quiz_box header .time_line {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #007bff;
}

section {
    padding: 25px 0;
    background: #fff;
}

section .que_text {
    font-size: 25px;
    font-weight: 600;
}

section .option_list {
    padding: 20px 0px;
    display: block;
}

section .option_list .option {
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 24px 15px;
    font-size: 24px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .option_list .option:last-child {
    margin-bottom: 0px;
}

section .option_list .option:hover {
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}

section .option_list .option.correct {
    color: #004085;
    background: lightskyblue;
    border: 1px solid lightskyblue;
}

section .option_list .option.incorrect {
    color: #004085;
    background: lightskyblue;
    border: 1px solid lightskyblue;
}

section .option_list .option.disabled {
    pointer-events: none;
}

section .option_list .option .icon {
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}

.option_list .option .icon.tick {
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.option_list .option .icon.cross {
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

footer {
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

footer .total_que span {
    display: flex;
    user-select: none;
    font-size: 2rem;
}

footer .total_que span p {
    font-weight: 500;
    padding: 0 5px;
}

footer .total_que span p:first-child {
    padding-left: 0px;
}

footer button {
    margin-top: 2rem;
    padding: 2rem 1rem;
    font-size: 2rem;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #007bff;
    border: 1px solid #007bff;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer .next_btn {
    margin-top: 2.25rem;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 400;
    cursor: none;
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    outline: none;
    border-radius: 5px;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

button .time_to_next_que {
    display: inline-flex;
    font-size: 32px;
    font-weight: 500;
    height: 45px;
    width: 60px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
    align-content: center;
    align-items: center;
    justify-content: center;
}

footer button:hover {
    background: #0263ca;
}

footer button.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result_box {
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 60vw;
    height: 95vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    text-align: center;
}

/* .result_box .icon {
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
} */

.result_box .complete_text {
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span {
    display: flex;
    margin: 10px 0;
    font-size: 28px;
    font-weight: 500;
    flex-direction: column;
    align-items: center;

}

.result_box .score_text span p {
    padding: 0 4px;
    font-weight: 600;
    color: #0263ca;
}

.result_box .buttons {
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button {
    margin: 0 10px;
    /* height: 45px; */
    padding: 15px 20px;
    font-size: 3rem;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.buttons button.restart,
.buttons button.continue {
    color: #fff;
    background: #007bff;
}

.buttons button.restart:hover,
.buttons button.continue:hover {
    background: #0263ca;
}

.buttons button.quit {
    color: #007bff;
    background: #fff;
}

.buttons button.quit:hover {
    color: #fff;
    background: #007bff;
}

#quitButton {
    color: #fff;
    background: #007bff;
}

.quitButton:hover {
    color: #007bff;
    background: #fff;
}

.container form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.inputBox {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
}

.inputBox input[type="text"],
.inputBox input[type="email"],
.inputBox input[type="tel"] {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0px 10px;
    font-size: 16px;
    color: #444;
}

.inputBox textarea {
    width: 100%;
    height: 120px;
    border-radius: 5px;
    border: none;
    outline: none;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0px 10px;
    font-size: 16px;
    color: #444;
}

.inputBox button {
    width: 100%;
    padding: 20px 20px;
    border: none;
    outline: none;
    background: rgb(0, 119, 255);
    color: #FFF;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;

}

.inputBox button:hover {
    background: rgb(0, 17, 255);
    transition: all 0.3s ease;
}

::placeholder {
    font-size: 16px;
}

.alert {
    width: 100%;
    background: rgb(0, 255, 106);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    display: none;
}

.quiz_box .logos {
    display: flex;
    justify-content: space-between;
}

.logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    /* position: relative;
    top: 5rem */
}

.logos .apcd,
.logos .abcd {
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    width: 150px;
}

.logos .apcd {
    background-image: url(img/logos-apcd.png);
}

.logos .abcd {
    background-image: url(img/logos-abcd.png);
}

/* Modal Styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  

/* 
@media screen and (max-width: 768px) {
    .register_box {
        width: 90%;
        background: #fff;
        border-radius: 5px;
        transform: translate(-50%, -50%) scale(0.9);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
    }

    .lgpd p.text {
        text-align: justify;
        padding: 0 1rem;
        color: #666;
        font-size: 80%;
    }

    .lgpd .terms {
        font-size: 70%;
        display: inline-flex;
        width: 80%;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
    }

    input#lgpd {
        transform: scale(1);
        padding-left: 1rem;
    }

    input#terms {
        transform: scale(1);
        padding-left: 1rem;
    }

    #profissional,
    #academico {
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .info_box {
        width: 90%;
    }

    .info_box .info-list {
        padding: 15px 15px;
    }

    .quiz_box {
        width: 95%;
    }

    .result_box {
        width: 95%;
    }
} */